@import "tailwindcss";

:root {
  --blue-light: #b8dfff;
  --blue: #80e5ff;
  --green-light: #98e3ce;
  --green: #a1ffe4;
  --pink-light: #ffb8d9;
  --pink-lighter: #fff3f9;
  --pink: #ff7dbd;
  --pink-background: #ffd6ea;
  --purple-light: #f4dffe;
  --purple: #8946ab;
  --orange-light: #fef0e5;
  --yellow-light: #fffeca;
  --discord: #5865F2;
  --grass: #acfad3;
  --twitter: #1d9bf0;
  --opensea: #2081E2;
  --sky: #dcf9ff;
}

@theme inline {
  --color-blue-light: var(--blue-light);
  --color-blue: var(--blue);
  --color-green-light: var(--green-light);
  --color-green: var(--green);
  --color-pink-light: var(--pink-light);
  --color-pink-lighter: var(--pink-lighter);
  --color-pink: var(--pink);
  --color-pink-background: var(--pink-background);
  --color-purple-light: var(--purple-light);
  --color-purple: var(--purple);
  --color-orange-light: var(--orange-light);
  --color-yellow-light: var(--yellow-light);
  --color-discord: var(--discord);
  --color-grass: var(--grass);
  --color-twitter: var(--twitter);
  --color-opensea: var(--opensea);
  --color-sky: var(--sky);

  --font-gmcafe: var(--font-gmcafe);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  cursor: url("/cursor/cursor.png") 18 7, auto;
}

a, button {
  cursor: url("/cursor/pointer.png") 4 5, pointer;
}

.mobile-nav-height {
  height: calc(100dvh - 4rem);
}