@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GMCafe';
  src: url('/gmcafe.otf');
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: 100dvh;
  }
}

.mobile-nav-height {
  height: calc(100vh - 4rem);
}

.clip-home-section {
  clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
}

.bg-two-tone-gray {
  background-color: #FFFFFF;
  background-image: linear-gradient(to right, #FFFFFF 50%, #F3F4F6 50%);
}

.bg-two-tone-purple {
  background-color: #FFFFFF;
  background-image: linear-gradient(to right, #FFFFFF 50%, #8946AB 50%);
}

@media (min-width: 768px) {
  .clip-home-section {
    clip-path: polygon(0 0, 100% 0%, 90% 100%, 0% 100%);
  }
}

/* wallet titles */
[data-rk] .ju367v1l {
  font-family: 'GMCafe' !important;
  font-size: 24px !important;
  text-transform: uppercase !important;
}

/* wallet subtitles */
[data-rk] .ju367v1r {
  font-size: 16px !important;
}

/* wallet primary button */
[data-rk] .ju367v9g {
  padding: 14px 24px 10px 24px !important;
  height: 48px !important;
}

/* wallet learn more link */
[data-rk] .ju367vem {
  font-size: 12px !important;
}

/* wallet left container */
[data-rk] .ju367v57 {
  margin-top: 30px !important;
}

/* wallet divider */
[data-rk] .ju367v8y {
  width: 5px !important;
}

.squiggle {
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('/svgs/squiggle.svg'); 
  height: 100%;
  z-index: 1;
  min-width: 51px;
}
